body {

	font-family: "Nanum Gothic";
	position: relative;

}

.form-group {

	margin-right: 0.25rem !important;
	margin-left: 0.25rem !important;
	margin-bottom: 0rem !important;

}

.form-inline .btn {

	margin-bottom: 0rem !important;

}

.jumbotron {
	background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)),url(drone.jpg);
	background-position: 0% 47%;
	background-size: cover;
	margin-top: 55px;
}

.jumbotron h1, .jumbotron p {

	text-align: center;
	color: white;

}

.jumbotron p:nth-of-type(2) {

	margin-top: 60px !important;

}

.jumbotron form {

	width: 365px;
	margin: 0 auto;

}

.jumbotron .input-group-text, .jumbotron button {

	border-radius: 0.25rem !important;

}

.jumbotron button {

	margin-left: 1px !important;

}

#email-j {

	width: 250px;
}

.about {

	padding-bottom: 50px;
}

.about h2, .about h4 {

	text-align: center;
	text-transform: capitalize;

}

.about h2 {

	margin-top: 50px;
	font-weight: bold;

}

.about h4 {

	margin: 20px 0 30px 0;

}

.app-dl {

	background-color: #F8F9FA;
	padding: 100px;
	text-align: center;	

}

.app-dl h2 {

	margin-bottom: 40px;	

}

.app-dl h4 {

	margin-bottom: 30px;	

}

.app-dl img {

	width: 200px;	

}

footer {

	padding-top: 30px;
	text-align: center;
}
